.sectionHeaderMenu {
  width: 100%;
  height: 96px;
  position: fixed;
  background-color: #F8F9FA;
  padding: 39px 65px;

  > &__container {
    display: flex;
    text-align: left;
    gap: 40px;
    margin: 0 auto;
  }

  &__loading {
    padding: 48px 65px;
    text-align: center;

    h2 {
      color: #212529;
    }
  }
}
